//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.03 (64-bit)
//Part Number: GW5AST-LV138FPG676AES
//Device: GW5AST-138
//Device Version: B
//Created Time: Mon 09 30 05:16:51 2024

IO_LOC "twi_mux[2]" P26;
IO_PORT "twi_mux[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "twi_mux[1]" P19;
IO_PORT "twi_mux[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "twi_mux[0]" N19;
IO_PORT "twi_mux[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "init_done" R26;
IO_PORT "init_done" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "single_end_o" L22;
IO_PORT "single_end_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "observ_sda" V22;
IO_PORT "observ_sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "observ_scl" U22;
IO_PORT "observ_scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC "scl" K25;
IO_PORT "scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "sda" K26;
IO_PORT "sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "single_end_i" N22;
IO_PORT "single_end_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst_n" K16;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" P16;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
